{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "decoratorsBeforeExport": true,
    },
    "baseUrl": "./"
  },
  "module": {
    "type": "nodenext"
    "resolveFully": true
  },
  "minify": false
}
